/*scroll effect*/
.navbar-trans {
	background-color: #000000;
	border: none;
	transition: top 1s ease;
	font-family: 'Outfit', sans-serif;
	font-weight: 700;
}

/*double row*/
.navbar-doublerow>.navbar {
	display: block;
	padding: 0px auto;
	margin: 0px auto;
	min-height: 25px;
	border-radius: unset;
}

.navbar-doublerow .nav {
	padding: 0px auto;
}

/*top nav*/
.navbar-top {
	background-color: #333333;
}

.navbar-doublerow .navbar-top ul>li>a,
.navbar-doublerow .navbar-top ul>li>a:focus {
	padding: 10px auto;
	font-size: 18px;
	color: #fff;
}

.navbar-doublerow .navbar-top ul>li>a:hover {
	color: #fff;
}

/*down nav*/
.navbar-down {
	background-color: #8E5083;
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
	padding: 15px 0px;
}

.navbar-header {
	margin-top: -12px;
}

.navbar-doublerow .navbar-down .navbar-brand {
	padding: 0px auto;
	float: left;
	color: #fff;
	font-size: 32px;
	line-height: .8;
	margin-top: -3px;
}

.navbar-doublerow .navbar-down .navbar-brand:hover {
	/* color: #FD3636; */
}

.navbar-doublerow .navbar-down ul>li>a {
	font-size: 18px;
	color: #fff;
	transition: .2s ease-in-out;
	position: relative;
}

.navbar-doublerow .navbar-down ul>li>a:before {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	background-color: transparent;
	left: 15px;
	bottom: 11px;
	transition: all.3s ease-in-out;
}

.navbar-doublerow .navbar-down ul>li>a:hover:before {
	background-color: #fff;
}

.navbar-down ul>li>a:hover {
	color: #fff !important;
	;
}

.navbar-doublerow .navbar-down .dropdown {
	padding: 5px;
	color: #fff;
}

.navbar-doublerow .navbar-down .dropdown ul>li>a,
.navbar-doublerow .navbar-down .dropdown ul>li>a:hover {
	opacity: 1;
	border-bottom: none;
}

.navbar-doublerow.navbar-trans.afterscroll {}

.navbar-doublerow.navbar-trans.afterscroll {
	top: -55px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

a.navbar-brand span {
	color: #fff;
	font-size: 18px;
}

.navbar-down {
	/* height: 85px; */
}